*.o
*.a
Microline/XmL/Makefile.linux
Microline/XmL/Makefile.linux-static
Xlt/Makefile.linux
Xlt/Makefile.linux-static
source/Makefile.linux
source/Makefile.linux-static
source/nc
source/nedit
source/parse.c
util/Makefile.linux
util/Makefile.linux-static
doc/html/*
doc/.version
doc/*.man
doc/*.html
doc/*.doc

# Quilt state
.pc/

# Debian packaging build artifacts
debian/files
debian/*.debhelper
debian/*.substvars
debian/debhelper-build-stamp
debian/tmp/
debian/nedit/
debian/.debhelper/

# Package build outputs
*.deb
*.ddeb
*.build
*.buildinfo
*.changes

# Common generated archives
*.tar.gz
*.tar.xz
*.tar.bz2
*.orig.tar.*
*.debian.tar.*

# Debug / package byproducts
*.dsc
